.carousel {
    background-color: rgb(180, 255, 180);
    display: grid;
    grid-template-areas: "clbutton cleft cmiddle cright crbutton";
    grid-template-columns: 0.2fr 1fr 4fr 1fr 0.2fr;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 500px;
    margin-top: 20px;
    align-items: center;
    padding: 10px;
}

.cleft {
    /* background-color: brown; */
    height: 60%;
    opacity: 0.5;
}

.cmiddle {
    /* background-color: red; */
    height: 100%;
}

.cright {
    /* background-color: purple; */
    height: 60%;
    opacity: 0.5;
}

.cright,
.cmiddle,
.cleft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cleft img,
.cright img,
.cmiddle img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.crbutton,
.clbutton {
    height: 100%;
    width: 100%;
    display: flex;
}

.crbutton button,
.clbutton button {
    background-color: transparent;
    border: none;
    font-size: 40px;
}