.main {

}

.carousel {
    background-color: lightgrey;
    display: grid;
    grid-template-areas: "cleft cmiddle cright";
    grid-template-columns: 1fr 2fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 500px;
    margin-top: 20px;
}

.cleft {
    background-color: brown;
    height: 100%;
}

.cright {
    background-color: purple;
    height: 100%;
}

.cmiddle {
    background-color: red;
    height: 100%;
}